PORT=4695

#Conexión a la base de datos
DB_USER=user-pqrs
DB_NAME=api-pqrs-db
DB_PASSWORD=pqrs-12345
BD_PORT=6009

#Envío de emails
SEND_EMAIL=false #True estará enviando email de confirmación, false no enviará ese email
MAILER_SERVICE=gmail
MAILER_EMAIL=jsebastian19952011@gmail.com
MAILER_SECRET_KEY=

#Servicio general
WEB_SERVICE_URL=http://localhost:4695/api

#Secreto del JSON WEB TOKEN
JWT_SEED=

#Cloudinary para las imagenes de usuarios
CLOUDINARY_URL=
CLOUDINARY_APINAME=
CLOUDINARY_APIKEY=
CLOUDINARY_APISECRET=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user-pqrs:pqrs-12345@localhost:6009/api-pqrs-db?schema=public"